<div>
    <div id="simulatorTitle" class="scoresTitle">
        <span><strong>CREDIT SIMULATOR</strong></span>
        <div style="display: flex; flex: 1; justify-content: flex-end">
            <div class="simScores">
                <p style="font-weight: 700; margin: 0">Current Score</p>
                <p style="padding: 5px 30px; font-size: 28px; font-weight: 500; background-color: #94ebef">{{simulatedScore.score}}</p>
            </div>
            <div class="simScores">
                <p>Test!3</p>
            </div>
        </div>
    </div>
    <div id="fourthRow">

        <div class="factorNames">
            <span class="factorName"><span><b>PRIOR</b></span><span><b>LOANS</b></span></span>
            <span class="factorName"><span><b>OUTSTANDING</b></b></span><span><b>BALANCES</b></span></span>
            <span class="factorName"><span><b>AVAILABLE</b></span><span><b>CREDIT</b></span></span>
            <span class="factorName"><span><b>LENGTH OF</b></span><span><b>ACTIVITY</b></span></span>
            <span class="factorName"><span><b>OVERALL</b></span><span><b>ACTIVITY</b></span></span>
            <span class="factorName"><span><b>CREDIT</b></span><span><b>MIX</b></span></span>
            <span class="factorName"><span><b>ASSETS</b></span><span><b>WORTH</b></span></span>
        </div>
        <div class="factorScores">
            <div class="factorScore">{{simulatedScore.loansDetailsScore.totalNegativeTicksScore.score}}</div>
            <span class="factorScore">{{simulatedScore.loansDetailsScore.totalDebtScore.score}}</span>
            <span class="factorToCome"><h3><b>COMING SOON</b></h3></span>
            <span class="factorScore">{{simulatedScore.accountDetailsScore.monthsWithActivityScore.score}}</span>
            <span class="factorScore">{{simulatedScore.accountDetailsScore.avgDailyActivityScore.score}}</span>
            <span class="factorToCome"><h3><b>COMING SOON</b></h3></span>
            <span class="factorScore">{{simulatedScore.accountScore.score}}</span>
        </div>
    </div>

</div>