<template src='./simulator.html'>
</template>

<script>
export default {
    name: 'om-simulator',
    data() {
        return {
            simulatedScore: { ...this.score }
        }
    },
    methods: {
        run() {
            console.log('run')
        }
    },
    mounted() {
        console.log('mounted')
    },
    props: ['score']
}
</script>