<template src='./results.html'>
</template>
<script>
import { mapState } from 'vuex'
import ThreeDots from 'vue-loading-spinner/src/components/ThreeDots'
// import { Gauge } from 'gaugeJS/dist/gauge.min'

import '../../../node_modules/justgage/justgage.js';

export default {
  name: 'om-results',
  components: {
    ThreeDots
  },
  data() {
    return {
      explanations: {
        priorLoans: 'fdsaf',
        balances: '',
        available: 'COMING SOON',
        length: '',
        overall: '',
        mix: 'COMING SOON',
        assets: ''
      },
    }

  },
  methods: {
    goHome() {
      this.$store.dispatch('clearError')
      this.$router.push({ name: 'om-search' })
    },
    updatePageWithScore(score) {
      this.updateExplanation(score)
      this.updateScoreGauge(score.score) //only need the final score number for this
    },
    updateScoreGauge(score) {

      let level = ''
      const rotation = 180 * score / 100
      let needleLocation = document.getElementById('_Path_')
      let scoreText = document.getElementById('score')
      let levelText = document.getElementById('level')
      let updatedText = document.getElementById('updated')

      needleLocation.setAttribute('transform', 'rotate(' + rotation + ', 238, 403)')

      if (score <= 50) level = 'Poor'
      if (score > 50 && score <= 60) level = 'Fair'
      if (score > 60 && score <= 70) level = 'Average'
      if (score > 70 && score <= 90) level = 'Good'
      if (score > 90) level = 'Great'

      levelText.childNodes[0].textContent = level
      scoreText.childNodes[0].textContent = score

      let today = new Date();
      let month = today.getUTCMonth() + 1; //months from 1-12
      let day = today.getUTCDate();
      let year = today.getUTCFullYear();

      updatedText.childNodes[0].textContent = `${month}/${day}/${year}`
    },
    updateExplanation(score) {
      let delinquent = score.loansDetailsScore.totalNegativeTicksScore.monthsSinceMostRecentTick
      let paidOff = score.loansDetailsScore.positiveFactor.repaidLoansInLastYear

      if (delinquent < 60) {
        if (delinquent == 0) delinquent = 1 //to prevent someone seeing in the last 0 months
        this.explanations.priorLoans = `You have had 1+ late payments in the last ${delinquent} month`
        delinquent > 1 && (this.explanations.priorLoans += 's')
      } else this.explanations.priorLoans = `You have had no late payments in the last 60 months`

      this.explanations.priorLoans += `, and have paid off ${paidOff} loan${paidOff != 1 ? 's' : ''} in the last year`

      let debt = score.loansDetailsScore.totalDebtScore.totalDebt
      this.explanations.balances = `You have ${Math.floor(debt)} DAI worth of outstanding loans`

      let meaningfulMonths = score.accountDetailsScore.monthsWithActivityScore.monthsWithActivityScore
      if (meaningfulMonths = 0) {
        this.explanations.lengthOfActivity = `Meaningful activity has been seen on this address consistently for the last ${meaningfulMonths} month`
        meaningfulMonths >= 1 && (this.explanations.lengthOfActivity += 's')
      } else this.explanations.lengthOfActivity = `Consistent meaningful activity has not been seen on this address for at least the last month`

      let dailyActivity = score.accountDetailsScore.avgDailyActivityScore.dailyAvg
      dailyActivity = Math.round((dailyActivity + 0.0000001) * 100000) / 100000
      if (dailyActivity > 0) this.explanations.overall = `You have on average ${dailyActivity} transactions per day over the last year`
      else this.explanations.overall = `There has not been any activity on this account over the last year`

      let mix = score.creditMixScore.types
      this.explanations.mix = `You have ${mix} type${mix != 1 ? 's' : ''} of credit.`

      let assets = score.accountScore.balance
      assets = Math.round((assets + .0000001) * 10000) / 10000
      this.explanations.assets = `You have assets worth ${assets} DAI`

    }

  },
  computed: {
    score() {
      // setTimeout(() => {
      //   this.initGauge()      }, 10)
      return this.$store.getters.score
    },
    error() {
      return this.$store.getters.error
    },
    loading() {
      return this.$store.getters.loading
    },
    address() {
      return this.$store.getters.searchedAddress
    }
  },
  watch: {
    score(score) {
      setTimeout(() => this.updatePageWithScore(score), 100)

    }
  }
}
</script>

<style>
#badges {
  display: flex;
}

#badges div {
  flex: 1;
}

#badges div h4 {
  color: #cccccc;
}
#content {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.explanation {
  flex: 5;
  font-size: 24px;
  font-weight: 600;
}

.scoresTitle {
  text-align: left;
  padding: 25px 50px 0px 50px;
  border-bottom: 4px solid #808080;
  margin-bottom: 10px;
}

.scoresTitle strong {
  font-size: 64px;
  color: #cccccc;
}

.factorExplanationTitle {
  flex: 3;
}

#factors {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.factor {
  flex: 1;
}

.factorName {
  flex: 1;
  font-size: 28px;
  padding: 20px 20px 10px 20px;
  display: flex;
  color: #808080;
  flex-direction: column;
}

.factorName span {
  line-height: 95%;
}

.factorScore {
  flex: 1;
  font-size: 70px;
  font-family: "Open Sans";
  margin-top: -10px;
  color: #2498cb;
}

.factorToCome {
  flex: 1;
  padding-top: 20px;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#firstRow {
  display: flex;
  flex: 1;
  padding: 50px;
}

#headerAddress {
  font-size: 32px;
  margin: 0 20px 0 0;
}

#overlayText {
  position: absolute;
  z-index: 1000;
  width: 635px;
  height: 550px;
}

#score {
  font-family: "OpenSans-Bold, Open Sans";
  font-weight: 700;
  font-size: 80px;
  padding-top: 300px;
  padding-right: 10px;
  margin-bottom: -25px;
}

#level {
  padding-right: 10px;
  font-size: 48px;
  color: #c1ea86;
  font-weight: 700;
}

#omNavbar {
  background: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center bottom;
  background-size: cover;
}

#resultsContainer {
  background-color: white;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: inherit;
}

#resultsLogo {
  height: 100px;
}

.scoreExplanation {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.scoreExplanation {
  text-align: justify;
}

.scoreExplanation div p {
  color: #cccccc;
  font-size: 24px;
  font-family: "Open Sans";
}

#scoreIndicator,
#scoreUps {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#scoreUpsTitle {
  display: flex;
  justify-content: flex-end;
}

#scoreIndicator {
  max-height: 550px;
  position: relative;
}

#scoreUpContent {
  font-size: 18px;
  text-align: justify;
}

#simulatorTitle {
  margin-top: 200px;
}

.testC {
  fill: transparent;
}

#thirdRow {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  #badges div {
    padding: 5px;
    align-items: center;
  }

  #badges div img {
    max-height: 80px;
    max-width: 100%;
  }

  #badges div h4 {
    font-size: 14px;
  }
  .explanation {
    flex: 5;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
  }
  #firstRow {
    flex-direction: column;
    padding: 10px 5px 0 5px;
  }

  .factorExplanationTitle {
    /* margin-top: 15px; */
    margin-bottom: -8px;
  }

  #factors {
    flex-wrap: wrap;
    padding: 0;
  }

  #factors div {
    flex: 1 1 21%;
  }

  .factorToCome {
    padding-top: 5px;
  }

  .factorName {
    flex: 1;
    font-size: 12px;
    padding: 0px;
    display: flex;
    color: #808080;
    flex-direction: column;
  }

  .factorScores {
    flex: 1;
    flex-direction: column;
  }

  .factorScore {
    flex: 1;
    font-size: 35px;
    font-family: "Open Sans";
    margin-top: -10px;
    color: #2498cb;
  }

  #headerAddress {
    font-size: 18px;
    margin: 0;
  }

  #resultsLogo {
    height: 50px;
  }

  .scoreExplanation {
    flex-direction: column;
  }

  .scoreExplanation div p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #scoreIndicator {
    max-width: 100%;
  }

  #scoreUpsTitle {
    justify-content: space-around;
  }

  #secondRow {
    display: flex;
  }

  .scoresTitle {
    text-align: left;
    padding: 25px 50px 0px 0px;
    border-bottom: 2px solid #808080;
    margin-bottom: 10px;
  }

  .scoresTitle strong {
    font-size: 34px;
    line-height: 90%;
  }

  #simulatorTitle {
    margin-top: 50px;
  }
}

.cls-1 {
  fill: none;
}

.cls-2 {
  isolation: isolate;
}

.cls-3 {
  opacity: 0.34;
  mix-blend-mode: multiply;
}

.cls-4 {
  fill: #fff;
}

.cls-5 {
  fill: #2498cb;
}

.cls-6 {
  fill: gray;
}

.cls-7 {
  fill: #94ebef;
}

.cls-8 {
  fill: #b2b2b2;
}

.cls-9 {
  clip-path: url(#clip-path);
}

.cls-10 {
  fill: #b72106;
}

.cls-11 {
  fill: #f26628;
}

.cls-12 {
  fill: #ffe411;
}

.cls-13 {
  fill: #c2e667;
}

.cls-14 {
  fill: #06b777;
}

.cls-15 {
  font-size: 80px;
}

.cls-15,
.cls-17,
.cls-18 {
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.cls-16,
.cls-17 {
  fill: #ccc;
}

.cls-17 {
  font-size: 18px;
}

.cls-18 {
  font-size: 48px;
  fill: #c1ea86;
}

.cls-19 {
  fill: #c4cfd7;
}
</style>