@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,500,600,700');

html, body {
    height: 100%;
}

body {
    font-family: "Open Sans Condensed" "sans serif" !important;
    /* background-color: purple !important; */
    
    /* background: url("../src/assets/leftSideLanding.jpg") !important; */
}