<template>
<div id="container">
     <router-view/>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
const Web3 = require('web3')

var web3 = new Web3(Web3.givenProvider || "ws://localhost:8546")

export default {
  name: 'home',
  data() {
    return {
      address: "",
      touched: false
    }
  },
  methods: {
    confirmAddress() {

      console.log(web3._extend.utils.isAddress(this.address), this.touched)
      return web3._extend.utils.isAddress(this.address)
    },
    handleTouch() {
      this.touched = true
    },
    onSubmit() {
      console.log('address', this.address)
      //   this.$store
      //     .dispatch(LOGIN, { email, password })
      //     .then(() => this.$router.push({ name: 'home' }))
      this.$store.dispatch('getScore', this.address).then(() => this.$router.push({ name: 'om-results' }))
    }
  }
}
</script>

<style>
.banner {
  padding: 0 !important;
}
#bannerLogo {
  width: 100%;
}

#container {
  height: inherit;
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
  /* background-attachment:fixed; */
  background-position: center;
  background-size: cover;
}

#card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-shadow: 5px 5px 10px grey;
}
#cardContent * {
  margin: 15px 15px 15px 15px;
}
</style>
