<template>
     <div>
        <div style="padding: 0 0 0 0; margin: 0 0 0 0; background-color: white">
        <div id="searchHeader">
          <div  class="banner">
          <img id="bannerLogo" src="../assets/girlAndLogo.png"/>
          </div>
          <div  class="banner" style="display: flex;">
            <div style="flex: 1; display: flex; flex-direction: column;">
              <div style="flex: 5">
              </div>
              <div style="flex: 5">
                <div style="display: flex; height: 100%">
                  <div class="gutter"></div>
                  <div style="flex: 10; background-color: #0369AA; ">
                    <div v-if="!currentAddress || searchBox" id="card">
                      <p id="cardTitle">Discover your blockchain credit score.</p>
                      <div id="cardContent">
                        <b-form-input id="addressInput"
                          @change="handleTouch()" v-model="address"
                          type="text"
                          placeholder="enter your Ethereum address"
                          @keyup.enter.native="onSubmitWithSearch()"></b-form-input>
                        <b-button @click="onSubmitWithSearch()" v-bind:disabled="!confirmAddress()" class="searchButton"><b >SUBMIT</b></b-button>
                      </div>
                      <p v-if="touched && !confirmAddress()" style="color: red">Please enter a valid address</p>
                      <div style="display: flex; justify-content: flex-end" ><p v-if="currentAddress" style="color: white" @click="searchBox=!searchBox">Switch to use logged in acct</p></div>
                    </div>
                    <div v-else id="card">
                    <p id="cardTitle">View your account's blockchain credit score.</p>
                    <div id="cardContent">
                      <h2 id="currentAddress" >{{ currentAddress || "" }}</h2>
                      <b-button @click="onSubmit()" class="searchButton"><b >GET NOW</b></b-button>
                    </div>
                    <div style="display: flex; justify-content: flex-end" ><p v-if="currentAddress" style="color: white" @click="searchBox=!searchBox">Switch to use search box</p></div>
                    <p v-if="touched && !confirmAddress()" style="color: red">Please enter a valid address</p>
                    </div>
                  </div>
                  <div class="gutter"></div>
                </div>
              </div>
              <div style="flex: 2">
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Web3 from 'web3'

let web3 = new Web3()

export default {
  name: 'om-header',
  data() {
    return {
      address: "",
      touched: false,
      defaultSearchType: false,
      searchBox: false
    }
  },
  methods: {
    getAccount() {

      // Checking if Web3 has been injected by the browser (Mist/MetaMask)
      // if (typeof web3 !== 'undefined') {
      //     console.log('metamask used');
      //   // Use Mist/MetaMask's provider
      //   web3js = new Web3(web3.currentProvider);
      // } else {
      //   console.log('No web3? You should consider trying MetaMask!')
      //   // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
      //   web3js = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
      // }
      web3.eth.getAccounts((error, accounts) => {
        console.log('accounts', accounts)
      })
      this.$store.dispatch('getScore').then(() => this.$router.push({ path: 'results' }))
    },
    confirmAddress() {
      // return true
      return web3._extend.utils.isAddress(this.address)
    },
    handleTouch() {
      this.touched = true

    },
    onSubmit() {
      console.log('confirm local acct run')
      //   this.$store
      //     .dispatch(LOGIN, { email, password })
      //     .then(() => this.$router.push({ name: 'home' }))
      this.$store.dispatch('clearError')
      console.log('this address', this.address)
      this.$store.dispatch('getScore').then(() => this.$router.push({ path: 'results' }))
    },
    onSubmitWithSearch() {
      if (!this.confirmAddress()) {
        this.touched = true
        return
      }
      this.$store.dispatch('clearError')
      console.log('this address', this.address)
      this.$store.dispatch('getScoreWithSearch', this.address).then(() => this.$router.push({ path: 'results' }))
    }
  },
  computed: {
    currentAddress() {
      // return 'hello'
      return this.$store.getters.currentAddress
    }
  }
}
</script>

<style>
#addressInput {
  border-radius: 0;
  margin-right: 5px;
  height: 61px;
  font-weight: 300;
  font-size: 26px;
}
.banner {
  padding: 0 !important;
  flex: 1;
}

#bannerLogo {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

#card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-shadow: 5px 5px 10px grey;
}

#cardContent * {
  margin: 15px 0;
}

#cardTitle {
  color: white;
  font-weight: 1000;
  font-size: 28px;
}

#currentAddress {
  color: white;
}

.searchButton {
  background-color: #f26628;
  border-radius: 0;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f26628;
  border-radius: 0;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchButton b {
  font-size: 26px;
}

#searchHeader {
  display: flex;
}

@media (max-width: 1000px) {
  #searchHeader {
    flex-direction: column;
  }

  #card {
    padding: 15px;
  }

  #cardTitle {
    font-size: 28px;
  }

  #currentAddress {
    font-size: 28px;
  }

  #addressInput {
    font-size: 20px;
  }

  #cardTitle {
    font-size: 22px;
  }

  .searchButton b {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  #currentAddress {
    font-size: 18px;
  }
}

@media (min-width: 1001px) and (max-width: 1280px) {
  .gutter {
    flex: 1;
  }
}

@media (min-width: 1281px) {
  #cardContent {
    display: flex;
  }

  .gutter {
    flex: 1;
  }

  #cardContent * {
    margin: 15px 15px 15px 15px;
  }

  #cardTitle {
    font-size: 36px;
  }
}
</style>
