<template>
     <div>
        <b-jumbotron style="padding: 0 0 0 0; margin: 0 0 0 0; background-color: white">
        <b-row style="overflow: auto">
          <b-col col lg="6" class="banner">
          <img @="goHome()" id="bannerLogo" src="../assets/girlAndLogo.jpg"/>
          </b-col>
          <b-col col lg="6" class="banner" style="display: flex;">
            <div style="flex: 1; display: flex; flex-direction: column;">
              <div style="flex: 5">
              </div>
              <div style="flex: 5">
                <div style="display: flex; height: 100%">
                  <div style="flex: 1"></div>
                  <div style="flex: 10; background-color: #0369AA; ">
                    <div id="card">
                    <p style="color: white; font-size: 36px;" >Discover your blockchain credit score.</p>
                    <div id="cardContent" style="display: flex;">
                      <b-form-input @change="handleTouch()" style="border-radius: 0; margin-right: 5px; height: 61px; font-size: 26px" v-model="address"
                        type="text"
                        placeholder="enter your Ethereum address"
                        @keyup.enter.native="onSubmit()"></b-form-input>
                        <b-button @click="confirmAddress()" v-bind:disabled="!confirmAddress()" style="background-color: #F26628; border-radius: 0; margin: auto; padding-top: 10px; padding-bottom: 10px"><b style="font-size: 26px">SUBMIT</b></b-button>
                    </div>
					<p v-if="touched && !confirmAddress()" style="color: red">Please enter a valid address</p>
                    </div>
                  </div>
                  <div style="flex: 1"></div>
                </div>
              </div>
              <div style="flex: 2">
              </div>
            </div>
          </b-col>
          </b-row>
        </b-jumbotron>
      </div>
</template>

<script>
import { mapGetters } from 'vuex'
const Web3 = require('web3')

var web3 = new Web3(Web3.givenProvider || "ws://localhost:8546")

export default {
  name: 'om-header',
  data() {
    return {
      address: "",
      touched: false
    }
  },
  methods: {
    confirmAddress() {

      console.log(web3._extend.utils.isAddress(this.address), this.touched)
      return web3._extend.utils.isAddress(this.address)
    },
    handleTouch() {
      this.touched = true
    },
    onSubmit() {
      console.log('address?', confirmAddress())
      if (confirmAddress() === true) {
        // this.$store.dispatch('getScore', this.address).then(() => this.$router.push({ name: 'om-results' }))
      }
      //   this.$store
      //     .dispatch(LOGIN, { email, password })
      //     .then(() => this.$router.push({ name: 'home' }))

    },

  }
}
</script>

<style>
.banner {
  padding: 0 !important;
}
#bannerLogo {
  width: 100%;
}

#card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-shadow: 5px 5px 10px grey;
}
#cardContent * {
  margin: 15px 15px 15px 15px;
}
</style>
