<template>
  <div id="app">
    <router-view/>
  </div>
  
</template>

<script>

export default {
  name: 'App',
  created() {
    this.$store.dispatch('getAccount')
    this.$store.dispatch('setAccountStatusListener')
  }
}
</script>

<style>
#app {
  height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
